
.listt {
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(192, 192, 192, 0.1);
    font-weight: bold;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listt h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1b1b1b;
    margin-bottom: 1rem;
}

.trdiv{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    cursor: pointer; 
    border: 1px solid rgb(151, 151, 151);

}

.chequesi {
    width: 20px;
    height: 20px;
    accent-color: #314e52;   
    cursor: pointer;
}

.trdiv label {
    font-size: 1.5rem;
    color: #333333;    
    cursor: pointer; 
}   

.marca {
    text-decoration: line-through;
    color: #888;
}

.trdiv.marcacch {
    /*Esto es para ponerle difuminado al cuadro*/
    background: linear-gradient(135deg, #ccd6d3, #b7ecf3, #9dc2f1);
}

