.hheader {
    height: 8rem;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.hheader h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hheader img {
    height: 6rem;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px rgb(214, 211, 211);
}